{% extends 'admin_dashboard.html' %}
{% block content %}
<div class="container mt-5">
    <h3>Manage Categories</h3>
    <a href="{% url 'add_category' %}" class="btn btn-success mb-3">Add Category</a>
    <table class="table table-bordered">
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        {% for cat in categories %}
        <tr>
            <td><img src="{{ cat.image.url }}" width="50"></td>
            <td>{{ cat.name }}</td>
            <td>
                <a href="{% url 'edit_category' cat.id %}" class="btn btn-primary btn-sm">Edit</a>
                <a href="{% url 'delete_category' cat.id %}" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}

