{% extends 'base.html' %}
{% block content %}
<div class="container py-5">
  <h3>Select Branch</h3>
  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <select name="branch_id" class="form-select" required>
        <option value="" selected disabled>-- Choose Branch --</option>
        {% for b in branches %}
          <option value="{{ b.id }}">{{ b.name }} - {{ b.address }}</option>
        {% endfor %}
      </select>
    </div>
    <button class="btn btn-primary" type="submit">Select</button>
  </form>
</div>
{% endblock %}
